//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.05Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sun 06 19 21:48:07 2022

IO_LOC "ADC_CS" 22;
IO_PORT "ADC_CS" PULL_MODE=UP DRIVE=8;
IO_LOC "ADC_RD" 20;
IO_PORT "ADC_RD" PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_B[4]" 45;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_B[3]" 44;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_B[2]" 43;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_B[1]" 42;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_B[0]" 41;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[5]" 40;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[4]" 39;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[3]" 38;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[2]" 34;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[1]" 33;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_G[0]" 32;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_R[4]" 31;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_R[3]" 30;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_R[2]" 29;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_R[1]" 28;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_R[0]" 27;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_DEN" 5;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_VSYNC" 46;
IO_PORT "LCD_VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_HSYNC" 10;
IO_PORT "LCD_HSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LCD_CLOCK" 11;
IO_PORT "LCD_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "CLOCK_IN" 35;
IO_PORT "CLOCK_IN" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "ADC_INT" 21;
IO_PORT "ADC_INT" PULL_MODE=UP;
IO_LOC "ADC_WR_RDY" 18;
IO_PORT "ADC_WR_RDY" PULL_MODE=UP;
IO_LOC "ADC_DATA[1]" 13;
IO_PORT "ADC_DATA[1]" PULL_MODE=UP;
IO_LOC "ADC_DATA[2]" 9;
IO_PORT "ADC_DATA[2]" PULL_MODE=UP;
IO_LOC "ADC_DATA[0]" 14;
IO_PORT "ADC_DATA[0]" PULL_MODE=UP;
IO_LOC "ADC_DATA[7]" 24;
IO_PORT "ADC_DATA[7]" PULL_MODE=UP;
IO_LOC "ADC_DATA[6]" 19;
IO_PORT "ADC_DATA[6]" PULL_MODE=UP;
IO_LOC "ADC_DATA[5]" 23;
IO_PORT "ADC_DATA[5]" PULL_MODE=UP;
IO_LOC "ADC_DATA[4]" 15;
IO_PORT "ADC_DATA[4]" PULL_MODE=UP;
IO_LOC "ADC_DATA[3]" 17;
IO_PORT "ADC_DATA[3]" PULL_MODE=UP;
